    <div class="col-xs-12">
        <div class="main-footer">
            <span>Contenido del footer</span>
        </div><!-- main-footer end -->
    </div><!-- col end -->




</div><!-- row end -->

</main>
        </div><!-- row end -->
    </section><!-- container end -->

  </body>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/highcharts.js"></script>
  <script src="/static/js/exporting.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!--script src="/static/js/gmap3.min.js"></script-->
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/jquery.fancybox.pack.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>

<script src="/static/js/weather.js"></script>

</html>