{% extends "base.html" %}
{% block content %}
<main role="main">
    <header>
	    <h2 class="page-title">
		    <span>{{ last_data.station.name }}</span>
		    <small>{{ last_data.station.get_departamento_display }}, Paraguay</small>
	    </h2><!-- page-title end -->
    </header>



<div class="row">

	<div class="col-xs-12">

	</div><!-- col end -->


	<div class="col-xs-7">

		<div class="panel panel-dark">
			<div class="panel-body">
                Estación: {{ last_data.station.name }}
				Lecturas Obtenidas a las: {{ last_data.datetime |date:'H:i d/m/y '  }}
			</div><!-- panel-body end -->
		</div><!-- panel-dark end -->


		<div id="accordion">
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			TEMPERATURA
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-thermometer48"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>{{ last_data.outtemp_celsius | floatformat:"1" }}º C</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>MIN:</small> {{ extra.outtemp_min.val | floatformat:"1"}} ºC &nbsp;-&nbsp; <i class="fa fa-clock-o"></i> {{ extra.outtemp_min.datetime|date:'H:i' }} <br/>
						<small>MAX:</small> {{ extra.outtemp_max.val | floatformat:"1"}} ºC &nbsp;-&nbsp; <i class="fa fa-clock-o"></i> {{ extra.outtemp_max.datetime|date:'H:i' }}
					</div>
                        <br>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-temperature" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->


			<div class="panel-collapse collapse" id="collapse-temperature">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#temp-tab1">Temperatura</a></li>
		      <li><a data-toggle="tab" role="tab" href="#temp-tab2" >Temp / Precipitaciones</a></li>
		    </ul>

				<div class="tab-content">
				  <div id="temp-tab1" class="tab-pane fade in active"   style="min-width: 521px; height: 400px; margin: 0 auto">

				  </div><!-- tab-pane end -->
				  <div class="tab-pane fade" id="temp-tab2" style="height: 400px; margin: auto; min-width: 511px; max-width: 521px">

				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->

		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			VELOCIDAD DEL VIENTO
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-wind26"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>{{ last_data.windspeed_kmh | floatformat:"1"}} kmph</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>MAX:</small> {{ extra.windspeed_max.val | floatformat:"1"}} kmph &nbsp;-&nbsp; <i class="fa fa-clock-o"></i> {{ extra.windspeed_max.datetime|date:'H:i' }} <br/>
						<small>DIR:</small> {{ last_data.winddir }}º
					</div>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-wind-speed" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->



			<div class="panel-collapse collapse" id="collapse-wind-speed">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#wind-speed-tab1">Velocidad</a></li>
		      <li><a data-toggle="tab" role="tab" href="#wind-speed-tab2">Máximo</a></li>
		    </ul>

				<div class="tab-content">
				  <div class="tab-pane fade in active" id="wind-speed-tab1">
					  hola
				  </div><!-- tab-pane end -->
				  <div class="tab-pane fade" id="wind-speed-tab2">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->


		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
 <div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			DIRECCIÓN DEL VIENTO
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-air9"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>{{  last_data.get_wdir  }}</h4>
                        <small>{{ last_data.winddir }}º </small>
                    </div>

				</div><!-- col end -->

				<div class="col-xs-6">
					<!--div>
						<small>PREDOMINANTE DEL DÍA:</small> {{ last_data.get_wdir }} <br/>
						<small>LECTURAS:</small> 11762 veces
					</div-->
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-winddir" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->



			<div class="panel-collapse collapse" id="collapse-winddir">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#winddir-tab1">Dirección</a></li>
		      <li><a data-toggle="tab" role="tab" href="#winddir-tab2">Predominante del Día</a></li>
		    </ul>

				<div class="tab-content">
				  <div class="tab-pane fade in active" id="winddir-tab1">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				  </div><!-- tab-pane end -->
				  <div class="tab-pane fade" id="winddir-tab2">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->


		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			PRECIPITACIONES
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-raindrops4"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>{{ last_data.rain_mm | floatformat:"1"}}mm</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>DÍA:</small>{{ extra.rain_day_acum }}" <br/>
						<small>MES:</small> {{ last_data.rain }}"
					</div>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-rainfall" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->



			<div class="panel-collapse collapse" id="collapse-rainfall">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#rainfall-tab1">Precipitaciones</a></li>
		    </ul>

				<div class="tab-content">
				  <div class="tab-pane fade in active" id="rainfall-tab1">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->



		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
		</div><!-- accordion end -->


		<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			<div class="row">

				<div class="col-xs-3 inline-item">
					Presión<br/>
					<i class="ico flaticon-barometer2"></i>
					{{ last_data.pressure_hpa | floatformat:"2" }}hpa
				</div><!-- col end -->

				<div class="col-xs-3 inline-item">
					Humedad<br/>
					<i class="flaticon-raindrops3"></i>
					{{ last_data.outhumidity }}%
				</div><!-- col end -->

				<div class="col-xs-3 inline-item">
					UV<br/>
					<i class="flaticon-themometer"></i>
					{{ last_data.uv }}
				</div><!-- col end -->

				<div class="col-xs-3 inline-item">
					Radiación<br/>
					<i class="flaticon-sunset5"></i>
					{{ last_data.radiation }} w/m<sup>2</sup>
				</div><!-- col end -->
			</div><!-- row end -->
		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->


		<!--div class="panel panel-dark">
			<div class="panel-body">

				<div class="gallery-grid">
					<a href="http://meteo.uni.edu.py/img/satelite/3.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=/img/satelite/3.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/4.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/4.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/5.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/5.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/6.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/6.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/7.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/7.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/8.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/8.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/9.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/9.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/10.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/10.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/11.jpg" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/11.jpg&size=69" alt=""/>
					</a>
				</div><!-- gallery-grid end -->

			<!--/div><!-- panel-body end -->
		<!--/div><!-- panel-dark end -->


	</div><!-- col end -->




	<div class="col-xs-5">

		<div class="panel panel-dark">
	<div class="panel-body">
		<header>
			<center><small id="pronosDate"></small></center>
		</header>
		<ul id="pronostico" style="display:none; text-align:center; width:100%;" class="weather">
			<li class="header">
				<small>FECHA</small>
				<small>MIN</small>
				<small>MAX</small>
			</li>
            {% for i in "123" %}
			<li>
				<span id="cellDia{{ i }}" class="date"></span>
				<span id="cellIcono{{ i }}" class="icon" ></span>
                <span id="cellPronostico{{ i }}"></span>
				<span id="cellMinima{{ i }}" class="min"></span>
				<span id="cellMaxima{{ i }}" class="max"></span>
			</li>
            {% endfor %}
		<p style="font-size:12px;text-align:right;color:blue;font-style:italic"> <a href="http://www.meteorologia.gov.py">Datos provistos por la DMH</a></p>
        </ul><!-- weather end -->
        <div id="climaContent" style="display:none;">
            {{ pronos | safe }}
        </div>

	</div><!-- panel-body end -->
</div><!-- panel-dark end -->


		<!--div class="panel panel-dark">
			<div class="panel-body">
				<div class="radar pad2">
	        <img src="http://meteo.uni.edu.py/img/doppler/l10.jpg?1411560277684" class="img-responsive" >
    		</div><!-- radar end -->

    		<!--div class="clearfix">
	    		<a href="#" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Ampliar</a>
    		</div><!-- clearfix end -->
			<!--/div><!-- panel-body end -->
		<!--/div><!-- panel-dark end -->


		<div class="panel panel-dark">
	<div class="panel-body">
		<header class="pad1">
			<big>Precipitaciones Acumuladas del dia</big><br/>
			<small>Fecha: {{ last_data.datetime |date:'d/m/Y' }}</small>
		</header>

		<ul class="block-scrollable">
        {% if rain_day %}
                {% for rain in rain_day %}
			<li>
				<strong>{{ rain.station_name }}</strong><br/>
				<span>Precipitación {{ rain.rain__sum }}"</span>
				<small> - Actualizado a las {{ last_data.datetime |date:'H:i' }}.</small>
			</li>
                {% endfor %}
        {% else %}
			<li>
				<strong>No se registran datos.</strong><br/>
			</li>
        {% endif %}
		</ul><!-- block-scrollable end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
	<div class="panel panel-dark">
	<div class="panel-body">
        <a class="twitter-timeline" href="https://twitter.com/pronosticos_dmh" data-widget-id="529283381280772096">Tweets by @pronosticos_dmh</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    </div>
</div><!-- col end -->

{% endblock %}

