{% extends "base.html" %}
{% block content %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>
{% load chartit %}
    {{ temphomechart|load_charts:"temp-tab1" }}

<main role="main">
    <header>
	    <h2 class="page-title">
		    <span>Encarnación</span>
		    <small>Itapúa, Paraguay</small>
	    </h2><!-- page-title end -->
    </header>



<div class="row">

	<div class="col-xs-12">

	</div><!-- col end -->


	<div class="col-xs-7">

		<div class="panel panel-dark">
			<div class="panel-body">
                Estación: {{ last_data.station.name }}
				Lecturas Obtenidas a las: {{ last_data.datetime |date:'H:i d/m/y '  }}
			</div><!-- panel-body end -->
		</div><!-- panel-dark end -->


		<div id="accordion">
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			TEMPERATURA
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-thermometer48"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>{{ last_data.outtemp | floatformat:"1" }}º F</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>MIN:</small> {{ last_data.outtemp_min }}º F &nbsp;-&nbsp; <i class="fa fa-clock-o"></i> {{ datadays.outtemp_min.datetime|date:'H:i' }} <br/>
						<small>MAX:</small> {{ extra.outtemp_max.max_outtemp | floatformat:"1"}}º F &nbsp;-&nbsp; <i class="fa fa-clock-o"></i> {{ extra.outtemp_max.datetime|date:'H:i' }}
					</div>
                        <br>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-temperature" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->


			<div class="panel-collapse collapse" id="collapse-temperature">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#temp-tab1">Temperatura</a></li>
		      <li><a data-toggle="tab" role="tab" href="#temp-tab2" >Temp / Precipitaciones</a></li>
		    </ul>

				<div class="tab-content">
				  <div id="temp-tab1" class="tab-pane fade in active"   style="min-width: 521px; height: 400px; margin: 0 auto">

				  </div><!-- tab-pane end -->
				  <div class="tab-pane fade" id="temp-tab2" style="height: 400px; margin: auto; min-width: 511px; max-width: 521px">

				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->

		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			VELOCIDAD DEL VIENTO
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-wind26"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>10.4º C</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>MAX:</small> 10.4º C &nbsp;-&nbsp; <i class="fa fa-clock-o"></i> 12:10hs. <br/>
						<small>DIR:</small> ENE 68º C
					</div>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-wind-speed" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->



			<div class="panel-collapse collapse" id="collapse-wind-speed">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#wind-speed-tab1">Velocidad</a></li>
		      <li><a data-toggle="tab" role="tab" href="#wind-speed-tab2">Máximo</a></li>
		    </ul>

				<div class="tab-content">
				  <div class="tab-pane fade in active" id="wind-speed-tab1">
					  hola
				  </div><!-- tab-pane end -->
				  <div class="tab-pane fade" id="wind-speed-tab2">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->


		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			DIRECCIÓN DEL VIENTO
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-air9"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>ENE</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>PREDOMINANTE DEL DÍA:</small> ENE <br/>
						<small>LECTURAS:</small> 11762 veces
					</div>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-winddir" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->



			<div class="panel-collapse collapse" id="collapse-winddir">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#winddir-tab1">Dirección</a></li>
		      <li><a data-toggle="tab" role="tab" href="#winddir-tab2">Predominante del Día</a></li>
		    </ul>

				<div class="tab-content">
				  <div class="tab-pane fade in active" id="winddir-tab1">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				  </div><!-- tab-pane end -->
				  <div class="tab-pane fade" id="winddir-tab2">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->


		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
			<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			PRECIPITACIONES
			<hr/>
			<div class="row">
				<div class="col-xs-2">
					<i class="flaticon-raindrops4"></i>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div><h4>0mm</h4></div>
				</div><!-- col end -->

				<div class="col-xs-6">
					<div>
						<small>DÍA:</small> 0mm <br/>
						<small>MES:</small> 0mm
					</div>
				</div><!-- col end -->

				<div class="col-xs-2">
					<div>
						<a href="#collapse-rainfall" data-toggle="collapse" data-parent="#accordion" class="btn btn-primary collapsed pull-right">+</a>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->



			<div class="panel-collapse collapse" id="collapse-rainfall">
				<ul role="tablist" class="nav nav-tabs">
		      <li class="active"><a data-toggle="tab" role="tab" href="#rainfall-tab1">Precipitaciones</a></li>
		    </ul>

				<div class="tab-content">
				  <div class="tab-pane fade in active" id="rainfall-tab1">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				  </div><!-- tab-pane end -->
				</div><!-- tab-content end -->
			</div><!-- panel-collapse end -->



		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
		</div><!-- accordion end -->


		<div class="panel panel-dark">
	<div class="panel-body">
		<div class="panel-report">
			<div class="row">

				<div class="col-xs-3 inline-item">
					Presión<br/>
					<i class="ico flaticon-barometer2"></i>
					998.5 hPa
				</div><!-- col end -->

				<div class="col-xs-3 inline-item">
					Humedad<br/>
					<i class="flaticon-raindrops3"></i>
					82%
				</div><!-- col end -->

				<div class="col-xs-3 inline-item">
					Suelo<br/>
					<i class="flaticon-themometer"></i>
					19.2ºC
				</div><!-- col end -->

				<div class="col-xs-3 inline-item">
					Radiación<br/>
					<i class="flaticon-sunset5"></i>
					64 w/m<sup>2</sup>
				</div><!-- col end -->

			</div><!-- row end -->
		</div><!-- panel-report end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->


		<div class="panel panel-dark">
			<div class="panel-body">

				<div class="gallery-grid">
					<a href="http://meteo.uni.edu.py/img/satelite/3.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=/img/satelite/3.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/4.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/4.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/5.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/5.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/6.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/6.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/7.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/7.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/8.gif" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/8.gif&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/9.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/9.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/10.JPG" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/10.JPG&size=69" alt=""/>
					</a>
					<a href="http://meteo.uni.edu.py/img/satelite/11.jpg" class="fancybox" rel="gallery">
						<img src="http://meteo.uni.edu.py/thumb.php?file=img/satelite/11.jpg&size=69" alt=""/>
					</a>
				</div><!-- gallery-grid end -->

			</div><!-- panel-body end -->
		</div><!-- panel-dark end -->


	</div><!-- col end -->




	<div class="col-xs-5">

		<div class="panel panel-dark">
	<div class="panel-body">
		<header>
			<big>Pronóstico para Encarnación</big><br/>
			<small>Actualizado al 2014-09-23 16:54:58</small>
		</header>

		<ul class="weather">
			<li class="header">
				<small>FECHA</small>
				<small>MIN</small>
				<small>MAX</small>
			</li>
			<li>
				<span class="date">Mar. 23</span>
				<span class="icon"><img src="http://www.meteorologia.gov.py/adm/imgtpo/lluviaytsra.gif" alt=""/></span>
				<span class="min">22º</span>
				<span class="max">30º</span>
			</li>
			<li>
				<span class="date">Mar. 24</span>
				<span class="icon"><img src="http://www.meteorologia.gov.py/adm/imgtpo/lluviaytsra.gif" alt=""/></span>
				<span class="min">18º</span>
				<span class="max">26º</span>
			</li>
			<li>
				<span class="date">Mar. 25</span>
				<span class="icon"><img src="http://www.meteorologia.gov.py/adm/imgtpo/chaparronyocnltsra.gif" alt=""/></span>
				<span class="min">17º</span>
				<span class="max">27º</span>
			</li>
		</ul><!-- weather end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->


		<div class="panel panel-dark">
			<div class="panel-body">
				<div class="radar pad2">
	        <img src="http://meteo.uni.edu.py/img/doppler/l10.jpg?1411560277684" class="img-responsive" >
    		</div><!-- radar end -->

    		<div class="clearfix">
	    		<a href="#" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Ampliar</a>
    		</div><!-- clearfix end -->
			</div><!-- panel-body end -->
		</div><!-- panel-dark end -->

		<div class="panel panel-dark">
	<div class="panel-body">
		<header class="pad1">
			<big>Alertas Meteorológicas</big><br/>
			<small>Actualizado al 2014-09-23 16:54:58</small>
		</header>

		<ul class="block-scrollable">
			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 1</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 2</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 3</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 4</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 5</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 6</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 7</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 8</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 9</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 10</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>

			<li class="row">
				<div class="col-xs-8">
					<strong>Estación 11</strong><br/>
					<span>Professionally productize interactive experiences rather than prospective architectures.</span>
				</div><!-- col end -->
				<div class="col-xs-4 text-right">
					<small>Mar. 12<br/>6:23 hs.</small>
				</div><!-- col end -->
			</li>
		</ul><!-- block-scrollable end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
		<div class="panel panel-dark">
	<div class="panel-body">
		<header class="pad1">
			<big>Precipitaciones Actuales</big><br/>
			<small>Actualizado al 2014-09-23 16:54:58</small>
		</header>

		<ul class="block-scrollable">
			<li>
				<strong>Estación 1</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 2</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 3</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 4</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 5</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 6</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 7</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 8</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 9</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>

			<li>
				<strong>Estación 10</strong><br/>
				<span>Precipitación 5mm</span>
				<small> - Mar. 12 6:23 hs.</small>
			</li>
		</ul><!-- block-scrollable end -->
	</div><!-- panel-body end -->
</div><!-- panel-dark end -->
</div><!-- col end -->
{% endblock %}




