<aside><div class="aside-container">

	<ul class="nav">
		<li class="separator">ESTACIONES</li>
        {% if stations %}
            {%  for station in stations %}
                <li><a href="/estacion/{{ station.id  }}">{{ station.name }}</a></li>
            {% endfor %}
        {% else %}
		    NO HAY ESTACIONES GUARDADAS ... Agrega!
        {% endif %}
	</ul>

	<ul class="nav">
		<li class="separator">SECCIONES</li>
		<li><a href="#">Reportes & Consultas</a></li>
		<li><a href="/detalles/">Datos Generales</a></li>
	</ul>

	<ul class="nav">
		<li class="separator">Enlaces De Interes</li>
        {% if links %}
            {% for link in links %}
		        <li><a href="{{ link.link }}" target="_blank" title="{{ link.help }}">{{ link.title }}</a></li>
            {% endfor %}
        {% endif %}
	</ul>

</div><!-- aside-container -->
</aside>